
.columns {
    display: flex;
    flex-direction: row;

    max-width: 1100px;
    min-height: calc(100vh - 40px);
    margin: auto;
}

.asideColumn {
    /* width: 340px; */
    flex-basis: 260px;
    flex-shrink: 0;
    margin-right: 10px;
    /* border: 1px solid var(--color-main); */
}

@media (max-width: 1000px) {
    .asideColumn {
        flex-shrink: 1;
    }
}

.columns > main {
    background-color: var(--color-background);
    border: 1px solid var(--color-main);
    border-top: 0;
    border-bottom: 0;
    width: 100%;
}

